* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 12px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
ul li {
  color: inherit;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
input,
button,
select,
textarea {
  outline: none;
  border: none;
}